@use '../../../../styles' as variable;

.inside-sidebar-container {
  display: grid;
  align-items: end;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-rows: 3rem 3rem 3.4rem;
}

.input-skeleton {
  width: 65%;
}

img {
  height: auto;
  width: 50px;
}

@media (min-device-width: variable.$tablet_breakpoint) {
  .inside-sidebar-container {
    grid-template-columns: 10% 50% auto;
    grid-template-rows: 5rem;
    align-items: center !important;
  }

  .inside-sidebar-input-container {
    width: 100%;
    & .inside-sidebar-input {
      width: 100%;
    }
  }

  img {
    width: 65px;
  }
}

@media (max-device-width: variable.$xsm_breakpoint) {
  app-fzbz-statistic-area {
    transform: translateY(25px);
  }
}
