<div class="inside-sidebar-container">
  <img
    id="fzbz-sidebar-image"
    class="pb-2 md:px-4"
    [src]="'../../..' + rootPath + '/assets/image/webp/favicon.webp'"
    alt="FizzBuzz logo"
    width="50"
    height="50"
  />
  <span
    *ngIf="numbersGenerationFinished; else skeleton"
    class="p-input-icon-right inside-sidebar-input-container"
  >
    <i class="pi pi-search"></i>
    <input
      inputmode="numeric"
      #input
      (input)="emitValue.emit(input)"
      [ngModel]="filterValue"
      (ngModelChange)="filterValueChange.emit($event)"
      pInputText
      placeholder="Type a number"
      pKeyFilter="int"
      class="inside-sidebar-input p-inputtext-sm"
    />
  </span>
  <ng-template #skeleton>
    <div class="input-skeleton">
      <p-skeleton height="2.5rem" borderRadius="16px"></p-skeleton>
    </div>
  </ng-template>
  <app-fzbz-statistic-area
    [filteredElements]="numbersToProcessByFzBzPipe | slice: 0"
    [checkStore]="checkStore"
    (checkedStatus)="checkStoreEmitter.emit($event)"
  ></app-fzbz-statistic-area>
</div>
