<div
  class="
    flex flex-column
    md:flex-row
    align-items-center
    justify-content-center
    py-2
  "
>
  <img
    id="fzbz-sidebar-image"
    class="pb-2 md:px-4"
    [src]="'../../..' + rootPath + '/assets/image/webp/favicon.webp'"
    alt="FizzBuzz logo"
    width="50"
    height="50"
  />
  <span
    *ngIf="numbersGenerationFinished; else skeleton"
    class="p-input-icon-right w-8 md:w-5"
  >
    <i class="pi pi-search"></i>
    <input
      inputmode="numeric"
      id="fzbz-topbar-input-filter"
      #input
      (input)="emitValue.emit(input)"
      [ngModel]="filterValue"
      (ngModelChange)="filterValueChange.emit($event)"
      pInputText
      placeholder="Type a number"
      pKeyFilter="int"
      class="w-full p-inputtext-sm"
    />
  </span>
  <ng-template #skeleton>
    <div class="w-8 md:w-5">
      <p-skeleton
        class="w-full"
        height="2.5rem"
        borderRadius="16px"
      ></p-skeleton>
    </div>
  </ng-template>
  <app-fzbz-statistic-area
    class="sm:pl-1 mt-3 md:mt-0 w-full sm:w-auto"
    [filteredElements]="numbersToProcessByFzBzPipe | slice: 0"
    [checkStore]="checkStore"
    (checkedStatus)="checkStoreEmitter.emit($event)"
  ></app-fzbz-statistic-area>
</div>
