.fzbz-btn-with-badge {
  p-badge {
    & {
      top: -13px;
      left: 58%;
    }
    &#fzbz-fizzbuzz-badge {
      left: 65%;
    }
  }
}

@media (max-device-width: 576px) {
  :host::ng-deep .p-button.p-button-sm {
    font-size: 0.7rem;
    padding: 0.62475rem 0.875rem;
  }
}
