<div
  class="flex flex-wrap sm:justify-content-end justify-content-center"
  *ngIf="_filteredElements"
>
  <div class="fzbz-btn-with-badge relative">
    <button
      pButton
      pRipple
      type="button"
      label="All"
      class="p-button-rounded p-button-text p-button-plain p-button-sm"
      pTooltip="Total"
      tooltipPosition="bottom"
    ></button>
    <p-badge
      class="cursor-pointer absolute"
      [value]="_filteredElements.filteredElements.toString()"
    ></p-badge>
  </div>
  <div class="fzbz-btn-with-badge relative">
    <button
      pButton
      pRipple
      type="button"
      label="Fizz"
      class="p-button-rounded p-button-text p-button-warning p-button-sm"
      pTooltip="Fizz"
      tooltipPosition="bottom"
    ></button>
    <p-badge
      [value]="_filteredElements.fizzElements.toString()"
      severity="warning"
      class="cursor-pointer absolute"
    ></p-badge>
  </div>
  <div class="fzbz-btn-with-badge relative">
    <button
      pButton
      pRipple
      type="button"
      label="Buzz"
      class="p-button-rounded p-button-text p-button-info p-button-sm"
      pTooltip="Buzz"
      tooltipPosition="bottom"
    ></button>
    <p-badge
      [value]="_filteredElements.buzzElements.toString()"
      severity="info"
      class="cursor-pointer absolute"
    ></p-badge>
  </div>
  <div class="fzbz-btn-with-badge relative">
    <button
      pButton
      pRipple
      type="button"
      label="FizzBuzz"
      class="p-button-rounded p-button-text p-button-success p-button-sm"
      pTooltip="FizzBuzz"
      tooltipPosition="bottom"
    ></button>
    <p-badge
      id="fzbz-fizzbuzz-badge"
      [value]="_filteredElements.fizzbuzzElements.toString()"
      severity="success"
      class="cursor-pointer absolute"
    ></p-badge>
  </div>
</div>
