<div class="statistic-container" *ngIf="_filteredElements">
  <div class="statistic-button-with-badge">
    <button
      aria-label="Choose all numbers"
      id="fzbz-btn-all-numbers"
      pButton
      pRipple
      type="button"
      [icon]="checkStore?.allIsChecked ? 'pi pi-check' : ''"
      label="Total"
      class="p-button-rounded p-button-text p-button-plain p-button-sm"
      [pTooltip]="
        'Total of numbers processed, from 1 to ' +
        _filteredElements.filteredElements
      "
      tooltipPosition="bottom"
      (click)="onClickAll()"
      [disabled]="checkStore?.allIsChecked"
    ></button>
    <p-badge
      class="cursor-pointer"
      [value]="_filteredElements.filteredElements | toString"
    ></p-badge>
  </div>
  <div class="statistic-button-with-badge">
    <button
      aria-label="Choose Fizz numbers"
      id="fzbz-btn-fizz-numbers"
      pButton
      pRipple
      type="button"
      [icon]="checkStore?.fizzIsChecked ? 'pi pi-check' : ''"
      label="Fizz"
      class="p-button-rounded p-button-text p-button-warning p-button-sm"
      pTooltip="Fizz numbers"
      tooltipPosition="bottom"
      (click)="onClickFizz()"
    ></button>
    <p-badge
      [value]="_filteredElements.fizzElements | toString"
      severity="warning"
      class="cursor-pointer"
    ></p-badge>
  </div>
  <div class="statistic-button-with-badge">
    <button
      aria-label="Choose Buzz numbers"
      id="fzbz-btn-buzz-numbers"
      pButton
      pRipple
      type="button"
      [icon]="checkStore?.buzzIsChecked ? 'pi pi-check' : ''"
      label="Buzz"
      class="p-button-rounded p-button-text p-button-info p-button-sm"
      pTooltip="Buzz numbers"
      tooltipPosition="bottom"
      (click)="onClickBuzz()"
    ></button>
    <p-badge
      [value]="_filteredElements.buzzElements | toString"
      severity="info"
      class="cursor-pointer"
    ></p-badge>
  </div>
  <div class="statistic-button-with-badge">
    <button
      aria-label="Choose FizzBuzz numbers"
      id="fzbz-btn-fizzbuzz-numbers"
      pButton
      pRipple
      type="button"
      [icon]="checkStore?.fizzBuzzIsChecked ? 'pi pi-check' : ''"
      label="FizzBuzz"
      class="p-button-rounded p-button-text p-button-success p-button-sm"
      pTooltip="FizzBuzz numbers"
      tooltipPosition="bottom"
      (click)="onClickFizzBuzz()"
    ></button>
    <p-badge
      id="fzbz-fizzbuzz-badge"
      [value]="_filteredElements.fizzbuzzElements | toString"
      severity="success"
      class="cursor-pointer"
    ></p-badge>
  </div>
</div>
