<section class="fzbz-scroll-search-top-bar">
  <p-sidebar
    [dismissible]="false"
    [showCloseIcon]="false"
    [closeOnEscape]="false"
    position="top"
    [(visible)]="displayTopBar"
    [modal]="false"
    [style]="{ height: '7em' }"
  >
    <div class="w-full flex flex-column align-items-center">
      <span
        *ngIf="
          numbersToProcessByFzBzPipe.length ===
            AMOUNT_OF_NUMBERS_TO_PASS_IN_FIZZBUZZ_ALGORITHM;
          else skeletonOfFilterOnTopbar
        "
        class="p-input-icon-right w-8"
      >
        <i class="pi pi-search"></i>
        <input
          id="fzbz-topbar-input-filter"
          #filterInputOnTopBar
          (input)="filter(filterInputOnTopBar.value)"
          [(ngModel)]="filterValue"
          pInputText
          placeholder="Search by number ..."
          pKeyFilter="int"
        />
      </span>
      <ng-template #skeletonOfFilterOnTopbar>
        <p-skeleton
          class="w-7"
          styleClass="my-2"
          height="3rem"
          borderRadius="16px"
        ></p-skeleton>
      </ng-template>
    </div>
  </p-sidebar>
</section>

<section class="fzbz-filter flex align-items-center flex-column">
    <p-card
    *ngIf="
      numbersToProcessByFzBzPipe.length ===
        AMOUNT_OF_NUMBERS_TO_PASS_IN_FIZZBUZZ_ALGORITHM;
      else skeletonFilterCard
    "
    id="fizzbuzz-filter-card"
    class="fizzbuzz-filter-card sm:m-4 mt-4 mb-3 w-11 sm:w-7"
    styleClass="shadow-8"
      [header]="title"
      subheader="Which number is Fizz, Buzz, or FizzBuzz?"
    >
    <span class="p-input-icon-right w-full">
      <i class="pi pi-search"></i>
        <input
        id="fzbz-input-filter"
          #filterInput
          (input)="filter(filterInput.value)"
        [(ngModel)]="filterValue"
          pInputText
          placeholder="Search by number ..."
        pKeyFilter="int"
        />
      </span>
    </p-card>
  <ng-template #skeletonFilterCard>
    <app-skeleton-fzbz-filter-card></app-skeleton-fzbz-filter-card>
  </ng-template>
</section>

<section class="fzbz-cards flex justify-content-center flex-wrap">
  <ng-container
    *ngIf="
      numbersToProcessByFzBzPipe.length ==
        AMOUNT_OF_NUMBERS_TO_PASS_IN_FIZZBUZZ_ALGORITHM;
      else skeletonCards
    "
  >
  <p-card
    [attr.data-key]="numberToProccessByFzBzPipe"
    class="fizzbuzz-card"
    *ngFor="let numberToProccessByFzBzPipe of cardsFiltered"
      styleClass="h-8rem m-3 shadow-8 text-900"
    [style]="{
      width: '300px',
      opacity: (numberToProccessByFzBzPipe | fizzbuzz) == '' ? '0.5' : '1'
    }"
    [header]="numberToProccessByFzBzPipe.toString()"
  >
    <app-image-badge
      [fizzbuzzType]="{
        type: (numberToProccessByFzBzPipe | fizzbuzz: false).toString(),
        number: numberToProccessByFzBzPipe
      }"
    ></app-image-badge>
  </p-card>
  </ng-container>
  <ng-template #skeletonCards>
    <app-skeleton-fzbz-cards
      class="fadein"
      *ngFor="let numberToProccessByFzBzPipe of cardsFiltered"
    ></app-skeleton-fzbz-cards>
  </ng-template>
</section>

<p-scrollTop></p-scrollTop>
