$hostDeep: ':host::ng-deep';

.p-inputtext {
  width: 100%;
}

#{$hostDeep} {
  p-sidebar {
    img {
      height: 50px;
    }
    .p-sidebar {
      height: auto !important;
    }
    .p-sidebar-header {
      display: none;
    }
    .p-sidebar-content {
      padding: 5px !important;
    }
  }
  #fizzbuzz-filter-card .p-card-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.card-title2 {
  margin-left: 15px;
  margin-top: 10px;
}

@media (min-device-width: 576px) {
  #{$hostDeep} #fizzbuzz-filter-card {
    .p-card-content {
      padding-bottom: 16px;
    }
  }
  .p-sidebar-content {
    padding: 14px !important;
  }
}
