<section
  class="
    fzbz-scroll-search-top-bar
    flex-grow-1 flex-shrink-1 flex flex-wrap
    h-auto
  "
>
  <p-sidebar
    [dismissible]="false"
    [showCloseIcon]="false"
    [closeOnEscape]="false"
    position="top"
    [(visible)]="displayTopBar"
    [modal]="false"
    class="flex-grow-1 flex flex-wrap h-auto z-5"
  >
    <div
      class="
        flex flex-column
        md:flex-row
        align-items-center
        justify-content-center
        py-2
      "
    >
      <img
        class="pb-2 md:px-4"
        src=".\assets\image\favicon.png"
        alt="Logotipo FizzBuzz"
      />
      <span
        *ngIf="areAllTheNumbersProcessed(); else skeleton"
        class="p-input-icon-right w-8 md:w-5"
      >
        <i class="pi pi-search"></i>
        <input
          inputmode="numeric"
          id="fzbz-topbar-input-filter"
          #input
          (input)="onInput(input)"
          [(ngModel)]="filterValue"
          pInputText
          placeholder="Type a number"
          pKeyFilter="int"
          class="w-full p-inputtext-sm"
        />
      </span>
      <ng-template #skeleton>
        <div class="w-8 md:w-5">
          <p-skeleton
            class="w-full"
            height="2.5rem"
            borderRadius="16px"
          ></p-skeleton>
        </div>
      </ng-template>
      <app-fzbz-statistic-area
        class="sm:pl-1 mt-3 md:mt-0 w-full sm:w-auto"
        [filteredElements]="numbersToProcessByFzBzPipe.slice()"
        [checkStore]="checkStore"
        (checkedStatus)="filter($event)"
      ></app-fzbz-statistic-area>
    </div>
  </p-sidebar>
</section>

<section class="fzbz-filter flex justify-content-center mb-3 md:mb-0">
  <p-card
    [@hideFilterCard]="displayTopBar ? 'hide' : 'show'"
    id="fizzbuzz-filter-card"
    class="md:mt-4 md:mb-3 md:w-8 lg:w-7 w-full z-5"
    styleClass="shadow-8"
  >
    <app-input-search-by-number
      [filteredElements]="numbersToProcessByFzBzPipe.slice()"
      [showContent]="areAllTheNumbersProcessed()"
      class="w-full"
      id="fzbz-input-filter"
      (value)="onInput($event)"
      [(filterValue)]="filterValue"
      (clickTagFilter)="filter($event)"
      [checkStore]="checkStore"
    >
    </app-input-search-by-number>
    <div
      class="
        sm:flex
        w-full
        hidden
        justify-content-center
        sm:justify-content-end
        pt-2
      "
    >
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-id-card"
        class="p-button-rounded p-button-sm p-button-text p-button-plain"
        (click)="toggleView(GROUP_VIEW)"
        [ngClass]="{ 'btn-view-active': isGroupedCardViewActivated }"
        pTooltip="Grouped card view"
        tooltipPosition="bottom"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-table"
        class="p-button-rounded p-button-sm p-button-text p-button-plain"
        (click)="toggleView(INDIVIDUAL_VIEW)"
        [ngClass]="{ 'btn-view-active': isIndividualCardViewActivated }"
        pTooltip="Individual card view"
        tooltipPosition="bottom"
      ></button>
    </div>
  </p-card>
</section>

<section
  class="
    flex
    justify-content-center
    align-content-center align-items-stretch
    flex-wrap flex-row
  "
  *ngIf="isGroupedCardViewActivated"
>
  <ng-container *ngIf="groupedCards">
    <app-grouped-info
      [group]="group"
      style="width: 320px"
      class="p-2 flex flex-shrink-0"
      *ngFor="let group of groupedCards"
      [filterCriteria]="filterValue"
    ></app-grouped-info>
  </ng-container>
</section>

<section
  *ngIf="isIndividualCardViewActivated"
  class="fzbz-cards flex justify-content-center flex-wrap"
>
  <ng-container *ngIf="areAllTheNumbersProcessed(); else skeletonCards">
    <p-card
      [attr.data-key]="numberToProcessByFzBzPipe"
      class="fizzbuzz-card"
      *ngFor="let numberToProcessByFzBzPipe of cardsFiltered"
      styleClass="h-8rem m-3 shadow-8 text-900"
      [style]="{
        width: '300px',
        position: 'relative',
        opacity: (numberToProcessByFzBzPipe | fizzbuzz) === '' ? '0.9' : '1',
        backgroundColor:
          (numberToProcessByFzBzPipe | fizzbuzz) === '' ? '#dddddd' : 'none'
      }"
    >
      <ng-template pTemplate="header">
        <span class="p-card-title absolute card-title2">
          {{ numberToProcessByFzBzPipe.toString() }}
        </span>
      </ng-template>
      <app-image-badge
        [fizzbuzzType]="{
          type: (numberToProcessByFzBzPipe | fizzbuzz: false).toString(),
          number: numberToProcessByFzBzPipe
        }"
      ></app-image-badge>
    </p-card>
  </ng-container>
  <ng-template #skeletonCards>
    <app-skeleton-fzbz-cards
      class="fadein"
      *ngFor="let numberToProcessByFzBzPipe of mockCards"
    ></app-skeleton-fzbz-cards>
  </ng-template>
</section>

<p-scrollTop class="z-2"></p-scrollTop>

<p-speedDial
  [model]="items"
  showIcon="pi pi-bars"
  hideIcon="pi pi-times"
  buttonClassName="p-button-outlined"
  [style]="{ position: 'fixed', bottom: '20px', left: '5px' }"
  buttonClassName="p-button-primary"
  class="sm:hidden"
></p-speedDial>

<div class="flex justify-content-center">
  <p-messages class="fixed mx-1 sm:mx-0 bottom-0 z-5"></p-messages>
</div>
