<section class="fzbz-scroll-search-top-bar">
  <p-sidebar
    [dismissible]="false"
    [showCloseIcon]="false"
    [closeOnEscape]="false"
    position="top"
    [(visible)]="displayTopBar"
    [modal]="false"
    [style]="{ height: '7em' }"
  >
    <div class="w-full flex flex-row justify-content-center">
      <img
        class="hidden sm:block"
        src=".\assets\image\favicon.png"
        alt="Logotipo FizzBuzz"
      />
      <app-input-search-by-number
        [showContent]="areThereAllTheNumbersToProcess()"
        class="w-8"
        [id]="'fzbz-topbar-input-filter'"
        (value)="filter($event)"
        [(filterValue)]="filterValue"
      >
      </app-input-search-by-number>
      <app-fzbz-statistic-area
        style="padding: 13px 0"
        class="align-self-center"
        [filteredElements]="cardsFiltered"
      ></app-fzbz-statistic-area>
    </div>
  </p-sidebar>
</section>

<section class="fzbz-filter flex align-items-center flex-column">
  <p-card
    [@hideFilterCard]="displayTopBar ? 'hide' : 'show'"
    id="fizzbuzz-filter-card"
    class="fizzbuzz-filter-card sm:m-4 mt-4 w-11 sm:w-7"
    styleClass="shadow-8"
  >
    <app-input-search-by-number
      [filteredElements]="cardsFiltered"
      [showTitle]="true"
      [showContent]="areThereAllTheNumbersToProcess()"
      class="w-full"
      [id]="'fzbz-input-filter'"
      (value)="filter($event)"
      [(filterValue)]="filterValue"
    >
    </app-input-search-by-number>
  </p-card>
</section>

<section class="fzbz-cards flex justify-content-center flex-wrap">
  <ng-container *ngIf="areThereAllTheNumbersToProcess(); else skeletonCards">
    <p-card
      [attr.data-key]="numberToProccessByFzBzPipe"
      class="fizzbuzz-card"
      *ngFor="let numberToProccessByFzBzPipe of cardsFiltered"
      styleClass="h-8rem m-3 shadow-8 text-900"
      [style]="{
        width: '300px',
        opacity: (numberToProccessByFzBzPipe | fizzbuzz) == '' ? '0.5' : '1'
      }"
      [header]="numberToProccessByFzBzPipe.toString()"
    >
      <app-image-badge
        [fizzbuzzType]="{
          type: (numberToProccessByFzBzPipe | fizzbuzz: false).toString(),
          number: numberToProccessByFzBzPipe
        }"
      ></app-image-badge>
    </p-card>
  </ng-container>
  <ng-template #skeletonCards>
    <app-skeleton-fzbz-cards
      class="fadein"
      *ngFor="let numberToProccessByFzBzPipe of cardsFiltered"
    ></app-skeleton-fzbz-cards>
  </ng-template>
</section>

<p-scrollTop></p-scrollTop>
