$hostDeep: ':host::ng-deep';

.p-inputtext {
  width: 100%;
}

.btn-view-active {
  background-color: #efe8ff;
}

#{$hostDeep} {
  p-speedDial {
    .p-button {
      background: #673ab79e !important;
    }
  }
  p-scrolltop {
    .p-scrolltop.p-link {
      z-index: 2 !important;
      background: #4caf5094 !important;
    }
  }
  p-sidebar {
    .p-sidebar {
      height: auto !important;
    }
    .p-sidebar-header {
      display: none;
    }
    .p-sidebar-content {
      padding: 5px !important;
    }
  }
  #fizzbuzz-filter-card {
    .p-card-body {
      padding: 0.75rem 0.384rem 0.3rem 0.384rem;
    }
    .p-card-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.card-title2 {
  margin-left: 15px;
  margin-top: 10px;
}

@media (min-device-width: 576px) {
  img#fzbz-sidebar-image {
    width: 110px !important;
  }
  
  #{$hostDeep} #fizzbuzz-filter-card {
    .p-card-body {
      padding: 1rem 1rem 0 1rem !important;
    }
    .p-card-content {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .p-sidebar-content {
    padding: 14px !important;
  }
}
