<div *ngIf="showContent; else skeleton">
  <div class="flex flex-row flex-wrap">
    <div class="p-card-title flex-auto text-yellow-500 font-italic">
      FizzBuzz
      <i
        (click)="op.toggle($event)"
        class="pi pi-info-circle ml-2 text-gray-500"
        style="cursor: help"
      ></i>
    </div>
    <app-fzbz-statistic-area
      class="flex-auto flex-order-1 sm:mt-0 mt-5 sm:flex-order-0"
      [filteredElements]="filteredElements"
    ></app-fzbz-statistic-area>
    <div class="p-card-subtitle w-full sm:text-sm text-xs">
      Which number is Fizz, Buzz, or FizzBuzz?
    </div>
    <span class="p-input-icon-right w-full mt-3">
      <i class="pi pi-search"></i>
      <input
        [id]="id"
        #input
        (input)="correctIfStartsWithZeroAndEmit(input)"
        [ngModel]="filterValue"
        (ngModelChange)="filterValueChange.emit($event)"
        pInputText
        placeholder="Search ..."
        pKeyFilter="int"
        class="w-full p-inputtext-sm"
        pTooltip="Enter a number"
        tooltipPosition="bottom"
      />
    </span>
  </div>
</div>
<ng-template #skeleton>
  <div class="flex flex-row flex-wrap">
    <p-skeleton
      id="title-skeleton"
      height="2rem"
      width="7rem"
      styleClass="my-2"
      borderRadius="16px"
    ></p-skeleton>
    <app-fzbz-statistic-area
      class="flex-auto flex-order-1 sm:mt-0 mt-5 sm:flex-order-0"
      [filteredElements]="filteredElements"
    ></app-fzbz-statistic-area>
    <div class="w-full mb-2">
      <p-skeleton width="40%" borderRadius="16px"></p-skeleton>
    </div>
    <p-skeleton
      class="w-full"
      styleClass="mt-2"
      height="2.9rem"
      borderRadius="16px"
    ></p-skeleton>
  </div>
</ng-template>

<p-overlayPanel
  #op
  [style]="{ maxWidth: '350px' }"
  [showCloseIcon]="true"
  [dismissable]="true"
>
  <ng-template pTemplate>
    <p class="font-italic text-justify line-height-2 text-gray-600">
      <b>FizzBuzz</b> is an algorithm which prints the numbers from 1 to 100. It
      will print the word "Fizz", whenever 3 and its multiples are encountered,
      "Buzz" whenever 5 and its multiples are encountered, and "FizzBuzz",
      whenever numbers that are multiples of both 3 and 5, are encountered.
    </p>
  </ng-template>
</p-overlayPanel>
