<div *ngIf="showContent; else skeleton">
  <div class="flex flex-row flex-wrap">
    <div class="p-card-title flex-auto text-yellow-500 font-italic">
      FizzBuzz
    </div>
    <app-fzbz-statistic-area
      class="flex-auto flex-order-1 sm:mt-0 mt-5 sm:flex-order-0"
      [filteredElements]="filteredElements"
    ></app-fzbz-statistic-area>
    <div class="p-card-subtitle w-full sm:text-sm text-xs">
      Which number is Fizz, Buzz, or FizzBuzz?
    </div>
    <span class="p-input-icon-right w-full mt-3">
      <i class="pi pi-search"></i>
      <input
        [id]="id"
        #input
        (input)="value.emit(input.value)"
        [ngModel]="filterValue"
        (ngModelChange)="filterValueChange.emit($event)"
        pInputText
        placeholder="Search ..."
        pKeyFilter="int"
        class="w-full p-inputtext-sm"
        pTooltip="Enter a number"
        tooltipPosition="bottom"
      />
    </span>
  </div>
</div>
<ng-template #skeleton>
  <div class="flex flex-row flex-wrap">
    <p-skeleton
      id="title-skeleton"
      height="2rem"
      width="7rem"
      styleClass="my-2"
      borderRadius="16px"
    ></p-skeleton>
    <app-fzbz-statistic-area
      class="flex-auto flex-order-1 sm:mt-0 mt-5 sm:flex-order-0"
      [filteredElements]="filteredElements"
    ></app-fzbz-statistic-area>
    <div class="w-full mb-2">
      <p-skeleton width="40%" borderRadius="16px"></p-skeleton>
    </div>
    <p-skeleton
      class="w-full"
      styleClass="mt-2"
      height="2.9rem"
      borderRadius="16px"
    ></p-skeleton>
  </div>
</ng-template>
