<div *ngIf="showContent; else skeleton">
  <div class="input-container">
    <div id="isbn-card-title" class="p-card-title">
      FizzBuzz
      <i (click)="op.toggle($event)" class="pi pi-info-circle"></i>
    </div>
    <app-fzbz-statistic-area
      [filteredElements]="filteredElements"
      (checkedStatus)="clickTagFilter.emit($event)"
      [checkStore]="checkStore"
    ></app-fzbz-statistic-area>
    <div class="p-card-subtitle">Which number is Fizz, Buzz, or FizzBuzz?</div>
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        inputmode="decimal"
        [id]="id"
        #input
        (input)="correctIfStartsWithZeroAndEmit(input)"
        [ngModel]="filterValue"
        (ngModelChange)="filterValueChange.emit($event)"
        pInputText
        placeholder="Type a number"
        pKeyFilter="int"
        class="p-inputtext-sm"
      />
    </span>
  </div>
</div>
<ng-template #skeleton>
  <div class="input-container">
    <div class="p-card-title skeleton-title">
      <p-skeleton height="1.2rem" borderRadius="16px"></p-skeleton>
    </div>
    <app-fzbz-statistic-area
      [filteredElements]="filteredElements"
      [checkStore]="checkStore"
    ></app-fzbz-statistic-area>
    <div class="p-card-subtitle skeleton-subtitle">
      <p-skeleton borderRadius="16px"></p-skeleton>
    </div>
    <p-skeleton
      class="skeleton-input"
      height="2.8rem"
      borderRadius="16px"
    ></p-skeleton>
  </div>
</ng-template>

<p-overlayPanel
  #op
  [style]="{ maxWidth: '350px' }"
  [showCloseIcon]="true"
  [dismissable]="true"
>
  <ng-template pTemplate>
    <p class="fzbz-decription-text">
      <b>FizzBuzz</b> is an algorithm that processes the numbers from 1 to 100.
      It will print the word "Fizz", whenever 3 and its multiples are
      encountered, "Buzz" whenever 5 and its multiples are encountered, and
      "FizzBuzz", whenever numbers that are multiples of both 3 and 5, are
      encountered, in another case, it prints the number.
    </p>
  </ng-template>
</p-overlayPanel>
