<p-card [class]="'grouped-' + styleClass + '-card' + ' shadow'">
  <ng-template pTemplate="header">
    <img
      [class]="'grouped-' + styleClass + '-image'"
      [alt]="imageAlternative"
      [src]="imgePath"
    />

    <p-tag
      [rounded]="true"
      [value]="imageBadge.fizzbuzzType | toString"
      [severity]="badgeSeverity | toString"
    ></p-tag>
  </ng-template>
  <ul
    aria-label="Grouped numbers by FizzBuzz denomination"
    class="grouped-numbers"
  >
    <li
      appHighlight
      [numberToHighlight]="number | toString"
      [searchCriteriaNumberToCompareTo]="filterCriteria"
      *ngFor="let number of elementsGroup"
    >
      {{ number }}
    </li>
  </ul>
</p-card>
